﻿@model UdemyCodeFirstDBConnection.Models.Movies
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Movies</h2>
@*<p>@Model.MovieID</p>*@
<p>@Model.MovieName</p>

