﻿@model UdemyCodeFirstDBConnection.ViewModel.RandomMovieCustomModelView
@{
    ViewBag.Title = "RandomMovieList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@Model.Movieee.MovieName</h2>*@

<h2>List Of Customer</h2>
<ul>
    @foreach(var Custlist in Model.Cust)
    {
        <li>@Custlist.CustName</li>
    }
</ul>