﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Flat no. 401, Aryana Apartment<br />
    Opp. to Siilver Spoon<br />
    Bhumkar Vasti, Pune- 411057<br />
    <abbr title="Phone">M:</abbr>
    +91 9657458339
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>