﻿@model UdemyCodeFirstDBConnection.ViewModel.NewCustomerViewModel
@{
    ViewBag.Title = "CustomerForm";
}

<h2>New/Edit Customer Form</h2>
@using (@Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
          @Html.Label("Name: ")
          @Html.TextBoxFor(m => m.CustomerModels.CustName, new { @class="form-control" })
          @Html.ValidationMessageFor(m => m.CustomerModels.CustName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerModels.MembershipType.BirthDate)
        @Html.TextBoxFor(m => m.CustomerModels.BirthDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CustomerModels.MembershipType.BirthDate)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.CustomerModels.IsSubscribedToNewsletter) Subscribed to Newsletter?    
        </label>
    </div>
    <div class="dropdown">
        <label>
            @Html.Label("MembershipType: ")
            @Html.DropDownListFor(m => m.CustomerModels.MembershipTypeId, new SelectList(Model.MembershipTypes, "ID", "MembershipName"),"--Select--", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CustomerModels.MembershipTypeId)
        </label>
    </div>
    @Html.HiddenFor(m => m.CustomerModels.CustID)
    <button type="submit" class="btn btn-primary">Save</button> @Html.ActionLink("Back to List", "Index") 

}