﻿@model UdemyCodeFirstDBConnection.Models.CustomerModel
@{
    ViewBag.Title = "Details";
}

<h2>Details Of Customer</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr bgcolor="#BBFFFF">
            <th>Customer Name</th>
            <th>Membership Name</th>
            <th>Birth Date</th>
            <th>IS Subscriber<p>to Newsletter</th>
            <th>Discount Rate</th>
            <th>Duration In Month</th>
            <th>Sign Up Fee<p>(in Rupees)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(modelItem => Model.CustName)</td>
            <td>@Html.DisplayFor(modelItem => Model.MembershipType.MembershipName)</td>
            <td>@Html.DisplayFor(modelItem => Model.BirthDate, "{0:dd-MM-yyyy}", new { @type = "date" })</td>
            <td>@Html.DisplayFor(modelItem => Model.IsSubscribedToNewsletter)</td>
            <td>@Html.DisplayFor(modelItem => Model.MembershipType.DiscountRate)%</td>
            <td>@Html.DisplayFor(modelItem => Model.MembershipType.DurationInMonths)</td>
            <td>@Html.DisplayFor(modelItem => Model.MembershipType.SignUpFee)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.CustID }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.CustID })
            </td>
        </tr>
    </tbody>

</table>
@Html.ActionLink("Back to List", "Index")