﻿@model IEnumerable<UdemyCodeFirstDBConnection.Models.CustomerModel>
@{
    ViewBag.Title = "Index";
}

<h2>List Of Customers</h2>
@if(!Model.Any())
{
    <p>We dont have any customer yet.</p>
}
else
{ 
<table id="Customers" class="table table-bordered table-hover">
    <thead>
        <tr bgcolor="#BBFFFF">
            <th>Customer Name</th>
            <th>Membership Name</th>
            <th>Birth Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Customers in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => Customers.CustName)</td>
                <td>@Html.DisplayFor(modelItem => Customers.MembershipType.MembershipName)</td>
                <td>@Html.DisplayFor(modelItem => Customers.BirthDate, "{0:dd-MM-yyyy}", new { @type = "date"})</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Customers.CustID }) |
                    @Html.ActionLink("Details", "Details", new { id = Customers.CustID }) |
                    <button data-customer-id="@Customers.CustID" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }
    </tbody>

</table>
}
@Html.ActionLink("Add New Customer", "CustomerForm")

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#Customers").DataTable();

            $("#Customers").on("click", ".js-delete", function () {

                    var button = $(this);
                    bootbox.confirm("Are you sure want to delete customer?", function (result) {

                        if(result)
                        {
                            $.ajax({
                                url: "/api/customers/" + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    button.parents("tr").remove();
                                }
                            })
                        }

                    });
            });
        });
    </script>
}